<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>
        {% block title %}
        {{ title|title }}
        {% endblock %}
    </title>

    {% block css %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'stepshop/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'stepshop/assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'stepshop/assets/css/tooplate-main.css' %}">
    <link rel="stylesheet" href="{% static 'stepshop/assets/css/owl.css' %}">
    {% endblock %}

    {% block js %}
    {% endblock %}
</head>

<body>

<div class="container">
    <div class="login">
        <div class="h2 text-center head">
            Вход в систему
        </div>

        {% block content %}
        {% endblock %}

    </div>
</div>

</body>
</html>
